@import 'tailwindcss';

@theme {
	--color-marvel: #ec1d24;
	--animate-favorite-pulse: favorite-pulse 0.6s ease-in-out;

	@keyframes favorite-pulse {

		0%,
		100% {
			transform: scale(1);
		}

		25% {
			transform: scale(1.20);
		}

		50% {
			transform: scale(1);
		}

		75% {
			transform: scale(1.20);
		}
	}

}


:root {
	font-family: 'Roboto Condensed', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
	background-color: #e0e0e0;
	height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ff0000;
	border-radius: 0px;
}

.custom-scrollbar {
	scrollbar-color: #ff0000 #e0e0e0;
	scrollbar-width: thin;
}